<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Job Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/custom.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-shrink py-3 navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>JobDatabase</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacts.html"><strong span style="color: rgb(0, 0, 0);">About</span></strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h4 class="display-4 fw-bold mb-5" style="font-size: 30.3px;">Search database using coding <u>languages</u>, <u>technologies</u> or <u>frameworks</u></h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <form id="searchForm" method="POST" action="/process_keywords">
            <div class="input-group"><input class="form-control" type="text" id="keywords" name="keywords" required placeholder="example: Python Kotlin C++">
                <div class="input-group-append"><button class="btn btn-primary" id="searchButton" type="submit">submit</button></div>
            </div>
        </form>

            <!-- Display container for the returned data -->
            <div id="result-container"></div>

            <script>
                // Function to display the returned data
                function displayKeywords(keywords) {
                    const resultContainer = document.getElementById('result-container');
                    if (keywords.length === 0) {
                        resultContainer.innerHTML = `<p><br>No keywords found.</p><br>`;
                        return;
                    }
                    // Creates an array of formatted strings for each keyword
                    const formattedKeywords = keywords.map((keyword) => {
                        return `<a href="${keyword.link}" target="_blank" class="visited-link">${keyword.name}</a><br>`;
                    });
                    const resultHTML = `<p><br>Job Listings that match at least one of the keywords:<br><br>${formattedKeywords.join('')}</p>`;
                    resultContainer.innerHTML = resultHTML;
                }

                document.querySelector('#searchForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    // Gets the keywords from the form input
                    const keywords = document.getElementById('keywords').value;
                    // Sends a POST request to the Flask endpoint
                    fetch('/process_keywords', {
                        method: 'POST',
                        body: JSON.stringify({ keywords }), // Send keywords as JSON
                        headers: {
                            'Content-Type': 'application/json', // Use JSON content type
                        },
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        displayKeywords(data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                });
            </script>


    </div>
    <footer></footer>
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/custom.js') }}"></script> -->
</body>

</html>
