<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Under Construction</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center mt-5">
        <h2 class="display-4 fw-bold">Under Construction</h2>
    </div>

    <footer></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
